version: "3.9"
services:
  backend:
    build: ./docker
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://postgres:password@db:5432/pollution
      - REDIS_URL=redis://redis:6379
    depends_on:
      - db
      - redis

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: pollution
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"
